@page "/Red"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using DCMLocker.Shared
@using DCMLocker.Shared.Locker

@inject NavigationManager Navigation
@inject DCMLocker.Kiosk.Cliente.TLockerCliente Cliente
@inject NotificationService NotificationService



<div class="row">
    <div class="col-12" align="left">
        <button class="btn btn-outline-warning" @onclick="gotoindex">Volver</button>
    </div>
</div>

<h3>Configuración de red</h3>
@if (Ips != null)
{
    <div class="row">
        @for (int x = 0; x < Ips.Length; x++)
        {
            <div class="col-lg-6">
                <p><strong>IP:</strong>@Ips[x].IP</p>
                <p><strong>MASK:</strong>@Ips[x].NetMask</p>
                <p><strong>Tipo:</strong>@Ips[x].NetworkInterfaceType</p>
                <p><strong>Estado:</strong>@Ips[x].NetworkOperationalStatus</p>
            </div>
        }
    </div>
}
<div class="row mb-2">
    <div class="col-6">
        <button type="button" class="btn btn-info btn-user btn-block" @onclick="InfoTewer" title="Obtener ID del teamviewer">Info tewer</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-info btn-user btn-block" @onclick="PassTewer" title="Establecer la contraseña de TeamViewer">Contraseña tewer</button>
    </div>
</div>
<button type="button" class="btn btn-success btn-user btn-block mb-2" @onclick="@(e => alertaGeneral("actualizará"))">Actualizar locker</button>
<button type="button" class="btn btn-warning btn-user btn-block mb-2" @onclick="@(e => alertaGeneral("reseteará"))">Resetear locker</button>
<button type="button" class="btn btn-danger btn-user btn-block mb-2" @onclick="@(e => alertaGeneral("apagará"))">Apagar locker</button>

<br />
<a>@tewerID</a>
<a>@tewerPASS</a>
<br />

<a>Versión @version del día @fecha</a>



@code
{
    SystemNetwork[] Ips { get; set; }

    string version;
    string fecha;
    string tewerID;
    string tewerPASS;

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        Ips = await Cliente.System_GetIP();

        version = await Cliente.GetVersion();
        fecha = await Cliente.GetFecha();
        StateHasChanged();
    }

    protected async void InfoTewer()
    {
        tewerID = await Cliente.System_TewerID();
        StateHasChanged();
    }

    protected async void PassTewer()
    {
        tewerPASS = await Cliente.System_TewerPASS();
        StateHasChanged();
    }

    public void alertaGeneral(string funcion)
    {
        Navigation.NavigateTo($"/alerta/{funcion}");
    }

    void gotoindex()
    {
        Navigation.NavigateTo("/");
    }
}
